.converter-container {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: calc(100% - 15px);
    padding-top: 15px;
}

.direction-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-size: xx-large;
}