.container > select {
    margin-right: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
}

input, select {
    background-color: #0000058a;
    color: black;
    border: none;
    border-bottom: 1px solid #fafafa81;
    font-family: Inter, sans-serif;
    color: white;
    font-weight: 100;
    font-size: 24px;
    height: 50px;
    width: 100%;
    margin: 15px;
}

select {
    margin-right: 15px;
    font-size: 21px;
    width: calc(100% - 30px);
    font-weight: lighter;
}

option {
    font-size: 21px;
    width: calc(100% - 30px);
    font-weight: lighter;

}

input:active, input:focus {
    outline: none;
    outline: #fafafa81 solid 1px;
}

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }